@import url("https://fonts.googleapis.com/css?family=Fredoka+One");

.store-container {
  line-height:0;
  margin: 8rem auto;
  width: 50%;
  float: left;
}
.stroke {
  stroke: #0170bb;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.round-end {
  stroke-linecap: round;
}
#store {
  animation: fadeIn 0.8s ease-in;
}
.border-animation {
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.border-animation:after {
  content: "";
  background: linear-gradient(45deg, #ccc 48.9%, #0170bb 49%);
  background-size: 300% 300%;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  z-index: -1;
  animation: borderGradient 8s linear both infinite;
}
@keyframes borderGradient {
  0%,
  100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#browser {
  transform: translateY(-100%);
  -webkit-animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
  animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
}
@keyframes moveDown {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}
#toldo {
  animation: fadeIn 1s 1.4s ease-in forwards;
}
.grass {
  animation: fadeIn 0.5s 1.6s ease-in forwards;
}
#window {
  animation: fadeIn 0.5s 1.8s ease-in forwards;
}
#door {
  animation: fadeIn 0.5s 2s ease-in forwards;
}
#sign {
  transform-origin: 837px 597px;
  animation: pendulum 1.5s 2s ease-in-out alternate;
}
.trees {
  animation: fadeIn 0.5s 2.2s ease-in forwards;
}
#toldo,
.grass,
#window,
#door,
.trees,
.cat,
.cat-shadow,
.box,
.parachute,
.tshirt,
.cap,
.ball,
#text,
#button,
.sky-circle,
.sky-circle2,
.sky-circle3 {
  opacity: 0;
}
@keyframes pendulum {
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}
.cat {
  transform-origin: 1145px 620px;
}
.cat-shadow {
  transform-origin: 1115px 625px;
}
#store:hover .cat {
  animation: catHi 3s 3s cubic-bezier(0.7, -0.5, 0.3, 1.4);
}
#store:hover .cat-shadow {
  animation: catShadow 4s 2s cubic-bezier(0.7, -0.5, 0.3, 1.4) alternate;
}
@keyframes catHi {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
  10%,
  60% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes catShadow {
  0%,
  100% {
    transform: translate(40px, -35px) scale(0.3);
  }
  10%,
  60% {
    opacity: 1;
    transform: translate(-5px, 10px) scale(0.5);
  }
  60% {
    opacity: 0;
  }
}
.box,
.parachute {
  transform-origin: 430px 100px;
  animation: moveBox 14s 4s linear forwards infinite;
}
.parachute {
  animation: parachute 14s 4s linear forwards infinite;
}
@keyframes moveBox {
  0% {
    opacity: 0;
    transform: translate(0, -150px) rotate(20deg);
  }
  15% {
    opacity: 1;
    transform: translate(0, 100px) rotate(-15deg);
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  35% {
    opacity: 1;
    transform: translate(0, 570px) rotate(0deg);
  }
  45%,
  100% {
    opacity: 1;
    transform: translate(0, 570px);
  }
}
@keyframes parachute {
  0% {
    transform: translate(0, -150px) rotate(20deg) scale(0.8);
    opacity: 0;
  }
  15% {
    transform: translate(0, 100px) rotate(-15deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  33% {
    transform: translate(0, 460px) rotate(0deg) scale(0.9);
    opacity: 1;
  }
  45%,
  100% {
    transform: translate(0, 480px);
    opacity: 0;
  }
}


#text,
#button {
  animation: fadeIn 1s 5s ease-in forwards;
}
@keyframes fadeInOut {
  5%,
  12% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
.cloud {
  animation: clouds 50s linear backwards infinite;
}
.cloud2 {
  animation: clouds 40s 40s linear backwards infinite;
}
.plane {
  animation: clouds 30s linear backwards infinite;
  will-change: transform;
}
@keyframes clouds {
  from {
    transform: translate(-150%, 0);
  }
  to {
    transform: translate(150%, 0);
  }
}
.sky-circle {
  animation: fadeInOut 10s 5s ease-in infinite;
}
.sky-circle2 {
  animation: fadeInOut 12s 30s ease-in infinite;
}
.sky-circle3 {
  animation: fadeInOut 8s 40s ease-in infinite;
}

/* General CSS */

body {
  background: #f2f5f7;
}

.container {
  width: 50%;
}

.container {
  width: 50%;
  float: left;
}

/* Nav */
.dashboard-cards {
  position: relative;
  margin: 20px !important;
}

.dashboard-cards .card {
  background: transparent;
  display: inline-block;
  perspective: 1000;
  z-index: 20;
  padding: 0 !important;
  margin: 5px 5px 10px 5px;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
  width: calc(33.33333333% - 10px);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dashboard-cards .card .card-title {
  background: #ffffff;
  padding: 20px 15px;
  position: relative;
  z-index: 0;
}

.dashboard-cards .card .card-title h2 {
  font-size: 24px;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

.dashboard-cards .card .card-title h2 small {
  display: block;
  font-size: 14px;
  margin-top: 8px;
  letter-spacing: -0.025em;
}

.dashboard-cards .card .card-description {
  position: relative;
  font-size: 14px;
  border-top: 1px solid #ddd;
  padding: 10px 15px 0 15px;
}

.dashboard-cards .card .card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px;
  text-align: center;
}

.dashboard-cards .card .card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}

.dashboard-cards .card .flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}

.dashboard-cards .card .flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}

.dashboard-cards.showing .card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}

.dashboard-cards .no-touch .dashboard-cards.showing .card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

.dashboard-cards .card.d-card-show {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.dashboard-cards .card.d-card-show .card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}

.dashboard-cards .card.d-card-show .flap1 {
  transition: all 0.3s 0s ease-out;
}

.dashboard-cards .card.d-card-show .flap2 {
  transition: all 0.3s 0.2s ease-out;
}

.dashboard-cards .card .task-count {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 22px;
  right: 10px;
  background: #ecf0f1;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  color: #333333;
  font-weight: 600;
  transition: all 0.2s ease;
}

.dashboard-cards .task-list {
  padding: 0 !important;
}

.dashboard-cards .task-list li {
  padding: 10px 0;
  padding-left: 10px;
  margin: 3px 0;
  list-style-type: none;
  border-bottom: 1px solid #e9ebed;
  border-left: 3px solid #f36525;
  transition: all 0.2s ease;
}

.dashboard-cards .task-list li:hover {
  background: #ecf0f1;
  transition: all 0.2s ease;
}

.dashboard-cards .task-list li span {
  float: right;
  color: #f36525;
  margin-right: 5px;
}

.dashboard-cards.showing .card.d-card-show .task-count {
  color: #ffffff;
  background: #f36525;
  transition: all 0.2s ease;
}

.dashboard-cards .card-actions .btn:hover {
  color: #f36525;
}

.card {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.editList {
  width: 50%;
  display: flex;
  gap: 13px;
}

.titles {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 1rem;
  padding-left: 0;
  width: 100%;
}

.edit {
  margin-top: 7px;
}

nav {
  font-weight:800;
}
